html, body {
  width:100%; height:100%; padding: 0; margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header, .footer {
  padding: 20px 20px;
  color: #CCCCCC;
  background: #666666;
}

.header h1, .header a, .footer a {
  color: #EEEEEE;
  text-decoration: none;
}

.section {
  margin-bottom: 40px;
}

h1, h2, h3 {
  padding: 4px 20px;
}

.map { width: 100%; height:100%; background: black;}

#menu a.selected,
#menu a:hover { 
  color: #F84F40;
}

.map-container {
  height: 500px;
  position: relative;
}

.year-selector {
  color: #333333;
  z-index: 20;
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;
  background: transparent;
  text-align: justify;
  cursor: pointer;
}

.year-selector .year {
  display: inline-block;
  margin: 0 5px;
  padding: 1px 4px;
}

.year-selector .year.selected {
  background: #333333;
  color: white;
}

.chart-container {
  padding: 0 5%;
}

.legend {
  display: inline-block;
  font-size: 12px;
}

.legend .title {
  display: block;
}

.legend .title .color-sample {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
}
